:root {
    --main-bg-color: coral;
    --box-bg-color: rgb(245, 245, 245);
    --subtext-color: #767676;
    --subtitle-color: #2855d1;
    --border-radius-1: 5px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Luxury;
    box-sizing: border-box;
}

button {
    outline: none;
}

html {
    height: 100%;
}

.wrap {
    position: relative;
}

.black {
    background: black !important;
}

.wrap:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 40px;
    background-color: white;
    -webkit-clip-path: polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, calc(50% - 30px) 0, 50% 50%, calc(50% + 30px) 0, 100% 0, 100% 100%, 0 100%);
}

@font-face {
    font-family: Luxury;
    src: url('./fonts/Goldoni_DEMO.otf');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Medium.ttf');
}

nav {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgba(123, 233, 123, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    background-image: url('./img/pexels-photo-632043.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    z-index: 10;
}

h2.title {
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    padding: 20px;
}

nav #logo {
    height: 50px;
    width: 100px;
    padding-left: 30px;
}

#logo img {
    width: 40px;
    height: 50px;
    display: block;
    float: left;
}

#logo div {
    float: left;
    color: white;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

nav ul li {
    list-style-type: none;
    float: left;
}

nav a {
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

img {
    width: 100%;
}

.section {
    width: 100%;
    height: calc(100vh - 20px);
    overflow: hidden;
}

.section h3 {
    font-size: 2vh;
    text-align: left;
    font-weight: 300;
    line-height: 22px;
}

#section1 {
    background-image: url('./img/pexels-photo-632043.jpeg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: calc(100vh + 40px);
}

#section1 .content {
    position: absolute;
    width: 630px;
    height: 500px;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

#section1 h1 {
    color: white;
    font-size: 50px;
    font-family: Roboto;
}

#section1 h3 {
    color: white;
    line-height: 30px;
    width: 600px;
}

#section1 button {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    border: 2px solid #7e0028a9;
    background: #7e0028a9;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
    letter-spacing: 1px;
}

#section1 button:hover {
    color: #7e0028a9;
    background-color: rgba(255, 255, 255, 0.87);
    transform: scale(1.03);
}

#section2.wrap:after {}

#section2 {
    background-image: url('./img/alcohol-alcoholic-beverage-533257.jpg'), url('./img/grapes.png');
    background-repeat: no-repeat;
    background-size: auto calc(100% - 80px), 250px;
    background-position: right top, left top;
}

#section2 .title {
    color: #b30038;
}

#section2 h1 {
    color: black;
    font-size: 50px;
}

#section2 h3 {
    font-family: Roboto;
    color: black;
    font-size: 1.7vh;
    line-height: 3vh;
    width: 600px;
    margin: 20px 0;
    text-align: left;
}

#section2 .content {
    width: 630px;
    height: 500px;
    margin: 0 auto;
}

#section2 .gallery {
    border-radius: 3px;
    width: 100%;
    height: calc(100vh - 500px);
    overflow: hidden;
}

#section2 .gallery-item {
    width: 50%;
    height: 50%;
    float: left;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}

#section2 .gallery .fullh {
    height: 100%;
}

#section2 .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section4 .title {
    padding-bottom: 0 !important;
    color: rgb(211, 118, 12);
}

#section4 h3 {
    width: 70%;
    margin: 20px auto;
    font-family: Roboto;
    text-align: left;
    font-size: 1.7vh;
    line-height: 3vh;
}

#section4 .bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46.5%;
    background-image: url('./img/grain-5980.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -50px;
    z-index: -1;
}

#section4 .options {
    width: 70%;
    margin: 0 auto;
    height: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: calc(46.5% / 2);
    transform: scale(0.9)
}

#section4 h3 {
    width: 600px;
}

#section4 .option {
    width: 31%;
    height: 100%;
    background: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#section4 .option img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    text-align: center;
}

#section4 .option .descript {
    width: 100%;
    height: calc(40% - 75px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 1.7vh;
    padding: 3vh 20px;
}

#section4 .option button {
    position: absolute;
    display: block;
    width: 40%;
    bottom: 10px;
    padding: 10px;
    background: black;
    color: white;
    border: 2px solid black;
    border-left: none;
    cursor: pointer;
    z-index: 6;
    letter-spacing: 2px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 800;
    transition: 0.5s;
}

#section4 .option button:hover {
    background: white;
    color: black;
}

#section5 {
    background-image: url('./img/bg6.jpeg');
    background-color: black;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 0 -50px;
    background-attachment: fixed;
    background-origin: -300px 0px;
    height: calc(30vh);
    position: relative;
}

#section5 h3 {
    position: absolute;
    color: white;
    font-family: Roboto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 50px;
}

/*............................*/

#section6 {
    height: calc(70vh);
}

#section6 .title {
    color: var(--subtitle-color);
    ;
}

#section6 h3 {
    text-align: center;
    font-family: Roboto;
}

#section6 .categories {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--subtitle-color);
    width: 900px;
    margin: 0 auto;
}

#section6 .content .name {
    border: 1px solid;
    border-color: inherit;
    border-bottom: none;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
    border-color: var(--subtitle-color);
    font-family: Roboto;
}

#section6 .content .name:hover {
    background-color: #eeeeee;
    color: black;
}

#section6 .content .active, .content .active:hover {
    background: var(--subtitle-color);
    ;
    color: white;
}

#section6 .category {
    padding: 35px 0;
    height: 340px;
    overflow: hidden;
}

#section6 .subcontent {
    padding: 0;
    height: 344px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#section6 .box {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    margin-bottom: 40px;
    color: white;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

#section6 .box img {
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}

#section6 .box img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

#section6 .box a {
    color: white;
    text-decoration: none;
}

#section6 .descript {
    opacity: 0;
    width: 100%;
}

#section6 .box:hover .descript {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: black;
    opacity: 0.7;
    transition: 1s;
    font-size: 12px;
    transition: 0.5s;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#section7 {
    font-weight: 800;
    background-color: aliceblue;
    position: relative;
    background: rgb(51, 51, 51);
    background: rgb(69, 72, 77);
    background: -moz-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#section7 .content {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

#section7 .left {
    width: 50%;
    float: left;
}

#section7 .right {
    width: 50%;
    float: left;
}

#section7 .title {
    text-align: left !important;
    padding: 0;
    color: var(--subtitle-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

#section7 h2 {
    font-weight: 600;
}

#section7 .content p {
    margin: 20px 0;
    color: var(--subtext-color);
    font-size: 15px;
}

#section7 .content p a {
    color: var(--subtitle-color);
}

#section7 .content p a:hover {
    color: var(--subtext-color);
}

#section7 input, #section7 textarea {
    width: 100%;
    height: 40px;
    resize: none;
    padding: 5px 10px;
    border: 2px solid var(--box-bg-color);
    margin: 3px 0;
    border-radius: var(--border-radius-1);
    outline: none;
    font-size: 15px;
    color: var(--subtext-color);
    background-color: var(--box-bg-color);
}

#section7 textarea {
    height: 100px;
}

#section7 input[type="submit"] {
    width: calc(100%);
    background-color: var(--subtitle-color);
    float: right;
    border-color: var(--subtitle-color);
    text-transform: none;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

#section7 input:focus, #section7 textarea:focus {
    border-color: var(--subtitle-color);
    transition: 0.8s;
    color: black;
}

#section7 input[type="submit"]:hover {
    color: var(--subtitle-color);
    background-color: transparent;
}

#section7 input[type="reset"] {
    text-transform: none;
    width: calc(50%);
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(250, 113, 113);
    border-color: rgb(250, 113, 113);
    border-right: none;
    margin-top: 20px;
    color: white;
}

#section7 input[type="reset"]:hover {
    color: rgb(250, 113, 113);
    background-color: transparent;
}

#section7 .social-media {
    margin-top: 20px;
}

#section7 .social-media a {
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#section7 .social-media a:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

#section7 .title {
    text-align: center;
}

footer {
    margin-top: 100px;
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
}

#section3 {
    overflow: hidden;
    background-image: url('img/r1.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#section3 .title {
    padding: 20px;
    color: white
}

#section3 .content {
    width: 600px;
    margin: 0 auto;
    color: white;
    font-family: Roboto;
    text-align: center;
}

#section3 .layout {
    border: 20x solid black;
    background: rgba(0, 0, 0, 0.575);
    padding: 50px;
    padding-top: none;
}

.fa {
    color: #dddddd;
}

#section10 {
    position: relative;
}

#section10>.title {
    color: #7e0028;
}

#section10 img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 20%;
    height: auto;
}

#section10 #left {
    position: absolute;
    bottom: 0;
    left: calc(50% - 40%);
    width: 25%;
    height: auto;
    padding: 20px;
    z-index: 5;
    height: 90vh;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
    padding-top: 50px;
    font-family: Roboto !important;
    font-size: 1.7vh !important;
}

#section10 #left h3 {
    font-family: Roboto;
    font-size: 3vh;
    padding: 2vh 0;
}

#section10 #right {
    position: absolute;
    bottom: 0;
    right: calc(50% - 40%);
    width: 25%;
    height: auto;
    padding: 20px;
    z-index: 5;
    height: 90vh;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #7e0028;
    color: white;
}

#section10 h4 {
    text-align: center;
    padding: 2vh;
    font-size: 2vh;
}

#section10 .position {
    padding: 1vh;
}

#section10 .position .title {
    font-size: 2vh;
    margin-bottom: 5px;
    font-weight: 800;
}

#section10 .position .descrpit {
    font-family: Roboto;
    font-size: 1.5vh;
}

#section10 p {
    padding: 1vh 0;
    font-family: Roboto;
    font-weight: 100;
}

#lochref {
    font-family: Roboto;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}